<!DOCTYPE html>
<html>
    <head>
        <title style="font-family:Gill Sans;">Online Banking FAQ</title>
       <style>
        .h2{
            border: 0px solid rgb(240, 161, 25);
    border-radius: 1px;
    box-shadow: 0px 0px 0px 0px rgba(234, 250, 4, 0.3);
    width: fit-content;
    text-align: center;
    color: lightblue;
        }

        .para{
            float:center;
            text-align: justify;
            margin: auto;
    width: 100;
    position: absolute;
    border: 10px solid rgb(140, 105, 209);
    border-radius: 3px;
    box-shadow: 10px 25px 30px rgba(255, 0, 0, 0.34);
    width: 85%;
    display: inline;
    font-size: 20px;
    color: rgb(255, 221, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

       </style>
    </head>
<body style="background-color: rgb(118, 189, 243);">
  <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SDP-71 Bank <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bank" viewBox="0 0 16 16">
        <path d="m8 0 6.61 3h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.38l.5 2a.498.498 0 0 1-.485.62H.5a.498.498 0 0 1-.485-.62l.5-2A.501.501 0 0 1 1 13V6H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 3h.89L8 0ZM3.777 3h8.447L8 1 3.777 3ZM2 6v7h1V6H2Zm2 0v7h2.5V6H4Zm3.5 0v7h1V6h-1Zm2 0v7H12V6H9.5ZM13 6v7h1V6h-1Zm2-1V4H1v1h14Zm-.39 9H1.39l-.25 1h13.72l-.25-1Z"/>
      </svg>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div> </h3>
   <hr size="1" width="100%" color="white">

        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        <div class="para">
        <p >
            &emsp;As Per the RBI Guidelines,
            <br><br><br>
            &emsp;National Electronic Funds Transfer (NEFT) NEFT is electronic funds transfer system, which facilitates transfer of<br><br>&emsp;funds to other bank accounts across the country. This is a simple, secure, safe, fastest and cost effective way to<br><br>  &emsp;transfer funds especially for Retail remittances.<br><br>

            &emsp;FEATURES & BENEFITS<br> <br>

            &emsp;Customers can remit any amount using NEFT Customer intending to remit money through NEFT has to furnish the following particulars:<br> <br>

            &emsp;> IFSC (Indian Financial System Code) of the beneficiary Bank/Branch<br><br>
            &emsp;> Full account number of the beneficiary.<br> <br>
            &emsp;> Name of the beneficiary.<br> <br>&emsp;

            The facility is also available through online mode for all internet banking and mobile banking customers.<br> <br> <br>

            &emsp;For corporate customers, bulk upload facility is also available at branches.
            <br> <br>
            &emsp;TIMINGS <br> <br>

            &emsp;Customers can use this facility between 8 AM and 06.30 PM on all weekdays and between 8 AM and 06:30 PM on Saturday (except 2nd &emsp;&nbsp;&nbsp;&&nbsp;& 4th Saturdays).<br><br>&emsp;There are twelve hourly settlements between 8 AM and 7 PM on all weekdays and between 8 AM and 7 PM on Saturday (except 2nd & 4th &emsp;Saturdays).
            <br> <br>
            &emsp;Bulk NEFT File should be uploaded before 6 PM for same day processing. Sunday is holiday.
            <br> <br>
            &emsp;The money will be credited to the beneficiary’s account on the same day or at the most next day in case the message is sent during the last &emsp;batch of settlement. Union Bank offers NEFT facility to its customers through all its branches.
            <br> <br>
            &emsp;NEFT Charges :
            <br> <br>
            &emsp;For transaction amount up to Rs. 10,000 : Rs. 2.50 + taxes<br><br>
            &emsp;For transaction amount above Rs. 10,000 & up to Rs. 1 Lac : Rs. 5.00 + taxes<br><br>
            &emsp;For transaction amount above Rs. 1 Lac & up to Rs. 2 Lacs : Rs. 15.00 + taxes<br><br>
            &emsp;For transaction amount more than Rs. 2 Lacs : Rs. 25.00 + taxes
            </p>
            <br><br><br>
          <hr class="straight-line" width="1500">
            <div class="faq">
            <p>
                &emsp;Get answers to frequently asked questions on National Electronic Funds Transfer (NEFT)<br><br>

                &emsp;Q1. What is NEFT System?<br><br>
                &emsp;A. The National Electronic Funds Transfer System (NEFT) is a system designed to transfer funds electronically from your account with us<br>
                &emsp;to another account in other Banks anywhere in the country.
                <br><br>
                &emsp;Q2. Is it necessary that I should have an account with us?<br><br>
                &emsp;A. Yes. As of now this facility is available to customers having account with our Bank.However, this facility will be available to Non-
                <br> &emsp;customers also for remittances up to Rs.50000/= shortly.
                <br><br>
                &emsp;Q3. Is there any limit with regard to amount?<br><br>
                &emsp;A. There is no limit. Any amount can be transferred.<br><br>

                &emsp;Q4. Can the money be transferred to any Bank in the country.<br><br>
                &emsp;A. No. Money can be transferred to only those Branches of Banks where this NEFT facility is enabled. <br<br>However, presently, Reserve Bank
                <br>&emsp;of India has designated as many as listed branches.The number is increasing day by day.
                <br><br>
                &emsp;Q5. How do I know whether the Branch where the money is to be transferred is enabled for NEFT?<br><br>
                &emsp; A. You can either get the information from http://www.rbi.org.in/scripts/neft.aspx published and updated by RBI from time to time OR <br>&emsp;you may get the information from the Bank where you are operating the account.

            </p>
            </div>
        </div>
    </body>
</html>