<!doctype html>
<html>
    <head>
        <title>NRI BANKING</title>
        <link rel = "icon" href = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHD_cyIzlV2m_SrCiS2tS4zkCkpVzpCtJOTQ&usqp=CAU" type = "image/x-icon">
        </head>
    <body>
        &emsp;<img align="top-left" src="https://i.postimg.cc/jdw86zBv/logo-bank.jpg",, width="200px" , height="105px">
        <br><br>
        <hr class="straight-line" width="2000" size="3" color="orange"><br><br>

        <center>
            <h2><b>NRI SERVICES</b></h2><br>
            <img src="https://www.yesbank.in/_cache_3b5d/content/GIB-Web-banner_NRI-PIS4-1889240000053229.jpg" width="800" height="600"> <br><br>
            <p style="font-size:larger;color: seagreen;">
            <b>
                Portfolio Investment Scheme (PIS) enables NRIs to invest in the secondary capital markets in India within the regulatory framework of the RBI.<br><br>

Through PIS, NRIs can invest in shares or convertible debentures sold or purchased of Indian Companies on repatriation basis through a registered stock broker on a recognized stock exchange.


<br><br>
Eligibility: NRIs and PIOs holding an NRE account with YES BANK<br><br>

    NRI’s – Non-Resident Indians: An NRI is an Indian citizen who resides outside the country:<br><br>

        For employment or business; or<br><br>

        People staying outside India for an uncertain period; or<br><br>

        Is an official deputed by Government / Public Sector in abroad<br><br>

    PIOs – Persons of Indian Origin<br><br>

        Held an Indian Passport at any point of time<br><br>

        Either of his/her parents or grandparents was a citizen of India<br><br>

        A spouse of a PIO / Indian citizen
        <br><br>
        For more Information please <a href="https://rbi.org.in/scripts/FAQView.aspx?Id=52">Click Here</a><br><br>

    </b>
</p>
    <br><br>
        </center>

        <center>
            <h2><b>NRE ACCOUNT</b></h2>
            <img src="https://www.yesbank.in/content/published/api/v1.1/assets/CONT0B17CB02DA1843F3AF83081864B76DC1/native?cb=_cache_ce53&channelToken=21f7ccfa2fc3401091938f541a6f8f2a" width="800" height="600">

        <h2 >NRE SAVINGS ACCOUNT</h2><br><br>
        <p style="font-size:larger;color: seagreen;">
        What is NRE Account?<br><br>
        a)NRE stands for Non-Resident Rupee account which is an account loaded with security features as it has a denomination in Indian Rupee. <br><br>The holdings in this account can exist in the form of fixed deposit, savings, recurring deposit or current. <br><br>Only foreign currency can be deposited in the NRE account which at the time of deposit gets converted to INR.<br><br> Repatriation is allowed all the time. Moreover, there is no tax on the interest earnings of this account.
NRE Savings Account lets you transfer your income to India with complete security and convenience.<br> <br>At any point of time, you can easily repatriate the funds held in the account along with the interest earned. <br><br>Also, you don't even have to pay tax on the interest amount. With a secure internet banking as well as Mobile banking Application, <br><br>the NRE account can be accessed by the NRIs through from anywhere in the world enabling seamless transactions. <br><br>On your behalf or absence, NRE Savings Account allows the account holder to authorize a resident Indian to conduct banking transactions.

        If you’re an NRE account holder, you can easily deposit your foreign earnings into this account from your country of residence. <br><br>The amount that is deposited from the foreign currency is converted into Indian rupees as per the prevailing exchange rate.<br> <br>You can easily convert the earnings back to the original foreign currency, officially referred to as repatriating the funds.

        With a savings or current account, you can utilize the account to pay bills or issue checks for payments in India- even if you are miles away.<br><br>You can also appoint an Indian resident as a Power of Attorney (POA) for your account who can use the debit card and check book.<br><br>With an NRE deposit, you can park your foreign earnings in a fixed term deposit of 1-3 years that is held in Indian rupees.

        <br><br>
        To transfer money to your NRE bank account, you can:<br><br>

            Transfer money from a foreign country (freely convertible foreign currency)<br><br>

            Present traveler’s cheque or foreign currency notes on your visit to India<br><br>

            Remit the amount directly from your overseas bank account<br><br>

            Transfer money from an existing NRE account held in other banks in India

        </p>
    </center>
    </body>
</html>